.profile-main {
  background: url("https://image.freepik.com/free-vector/instagram-background-gradient-colors_23-2147821882.jpg")
    no-repeat center center;
  background-size: 1400px 700px;
  background-position: 100%;
  background-attachment: fixed;
  margin-top: 120px;
  color: whitesmoke;
  padding-bottom: 100px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.image:hover {
  box-shadow: 0px 5px 20px 0.9px #3f3f3f;
}

.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}
.profile-card-body {
  background: transparent;
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
}
